{% extends 'base.html.twig' %}

{% block title %}Articles Index{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Articles Index</h1>

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Content</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>{{ article.title }}</td>
                            <td>{{ article.content }}</td>
                            <td>
                                <a href="{{ path('app_articles_show', {'id': article.id}) }}" class="btn btn-info btn-sm">Show</a>
                                <a href="{{ path('app_articles_edit', {'id': article.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center">No records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('app_articles_new') }}" class="btn btn-success">Create New Article</a>
    </div>
{% endblock %}
